@charset "UTF-8";
/* CSS Document */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#FAFAFA;
}
.bold {
    color: #373737;
    font-family: "Axon Regular";
    font-size: 42px;
    margin-left: -23px;
    letter-spacing: 2px;
    width: 249px;
}
.bold2{
    color: #373737;
    font-family: "Axon Regular";
    font-size: 42px;
    margin-left: -18px;
    letter-spacing: 9px;
    width: 249px;
    position: relative;
    left: 21px;
    top: 11px;
}
.subtext {
    color: #8E99A0;
    font-family: "Axon Ultra Light";
    font-size: 22px;
    vertical-align: super;
}
.subscript{
    color: #373737;
    font-family: "Axon Bold";
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    top: -6px;
    left: 42px;
}
.subscript2{
    color: #373737;
    font-family: "Axon Bold";
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    top: -6px;
    left: -40px;
}
.subscript3{
    color: #373737;
    font-family: "Axon Bold";
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    top: -6px;
    left: -51px;
}

#Navbar {
    background-color: #1E5F90;
    width: 100%;
    height: 85px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#Falcon9 {
    width: 149px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    color: #FAFAFA;
    font-family: "Axon Bold";
    font-style: normal;
    font-variant: normal;
    font-size: x-large;
}
#Falconheavy {
    width: 149px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    color: #FAFAFA;
    font-family: "Axon Bold";
    font-style: normal;
    font-variant: normal;
    font-size: 23px;
	}
#Dragon {
    width: 149px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    color: #FAFAFA;
    font-family: "Axon Bold";
    font-style: normal;
    font-variant: normal;
    font-size: x-large;
}
#AboutSpaceX {
    width: 149px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    left: 665px;
    color: #FAFAFA;
    font-family: "Axon Light";
    font-style: normal;
    font-variant: normal;
    font-size: x-large;
    margin-left: 241px;
}
#Careers {
    width: 149px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    left: 665px;
    color: #FAFAFA;
    font-family: "Axon Light";
    font-style: normal;
    font-variant: normal;
    font-size: x-large;
}
#Gallery {
    width: 149px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    left: 665px;
    color: #FAFAFA;
    font-family: "Axon Light";
    font-style: normal;
    font-variant: normal;
    font-size: x-large;
}
#Shop {
    width: 120px;
    height: 47px;
    text-align: center;
    top: 20px;
    position: relative;
    float: left;
    clear: right;
    padding-top: 9px;
    left: 665px;
    color: #FAFAFA;
    font-family: "Axon Light";
    font-style: normal;
    font-variant: normal;
    font-size: x-large;
    line-height: 39px;
}
#Falcon9:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#Falconheavy:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#Dragon:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#AboutSpaceX:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#Careers:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#Gallery:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#Shop:hover .overlay{
	opacity: 1;
	margin-top:-3.5px;
	height: 10px;
	top: 40px;
}
#heading {
    background-color: #1E5F90;
    text-align: center;
    font-family: "Helios Regular";
    font-size: 31px;
    width: 100%;
    height: 165px;
    color: #FAFAFA;
    word-spacing: 14px;
    line-height: 90px;
    left: 0px;
    padding-left: 0px;
    margin-right: center;
    margin-left: center;
}
#video {
    width: 100%;
    height: 1080px;
}
#mainbody {
    width: 698px;
    height: 265px;
    clear: right;
    float: left;
    font-family: "Axon Regular";
    color: #FAFAFA;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 4px solid #1E5F90;
    border-bottom: 4px solid #1E5F90;
    letter-spacing: 1pt;
}
#fhimage {
    float: left;
    clear: right;
    width: 343px;
    height: 1382px;
    background-image: url(images/falcon-heavy-render%20copy.png);
    background-position: 53px 42px;
    background-repeat: no-repeat;
    background-size: 233px auto;
    position: absolute;
    left: 727px;
    top: 1120px;
}
#underline {
    background-color: #191716;
    height: 10px;
    margin-top: -6px;
}
#line {
    width: 208px;
    height: 5px;
    z-index: 3;
    position: relative;
    top: 80px;
    left: 698px;
    border-top: 2px dashed #1E5F90;
}
#infographic {
    position: absolute;
    width: 427px;
    height: 1219px;
    left: 1296px;
    top: 1551px;
    float: left;
    clear: right;
    padding: 10px;
    background-color: #1E5F90;
    font-family: "Helios Regular";
    font-size: 37px;
    color: #FAFAFA;
}
#line2 {
    border-top: 2px dashed #1E5F90;
    float: left;
    clear: right;
    position: relative;
    width: 305px;
    height: 93px;
    top: 132px;
    left: 325px;
    border-right: 2px dashed #1E5F90;
}
#height {
    font-family: "Helios Regular";
    font-size: 40px;
    width: 406px;
    height: 0px;
    padding-left: 29px;
    line-height: 29px;
    position: relative;
}
#stages {
    float: left;
    clear: right;
    margin-left: 244px;
    font-family: "Axon Ultra Light";
    font-size: 40px;
    margin-top: 60px;
    line-height: 29px;
    width: 0px;
    height: 0px;
}
#hr {
    margin-top: -38px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 388px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: 0px;
    position: absolute;
}
#hr2 {
    margin-top: -35px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 196px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: -23px;
    position: absolute;
}
#hr3 {
    margin-top: -58px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 427px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: -101px;
    position: absolute;
}
#hr4{
    margin-top: -30px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 168px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: -12px;
    position: relative;
    top: -5px;
}
#hr5{
    margin-top: -30px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 168px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: 54px;
    position: relative;
    top: -5px;
}
#hr6{
    margin-top: -30px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 182px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: -12px;
    position: relative;
    top: -5px;
}
#hr7{
    margin-top: -30px;
    margin-bottom: 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid rgba(250,250,250,1.00);
    width: 187px;
    height: 0px;
    float: left;
    clear: right;
    opacity: 1;
    margin-left: 35px;
    position: relative;
    top: -5px;
}
#totalwidth{
    float: left;
    clear: right;
    margin-left: 29px;
    font-family: "Helios Regular";
    font-size: 40px;
    margin-top: 146px;
    line-height: 29px;
    width: 289px;
    height: 0px;
}
#boosters{
	float: left;
    clear: right;
    margin-left: 244px;
    font-family: "Axon Ultra Light";
    font-size: 40px;
    margin-top: 60px;
    line-height: 29px;
    width: 0px;
    height: 0px;
}
#mass{
    float: left;
    clear: right;
    margin-left: 91px;
    font-family: "Helios Regular";
    font-size: 84px;
    margin-top: 146px;
    line-height: 36px;
    width: 212px;
    height: 0px;
    text-align: center;
}
#payload1{
    float: left;
    clear: right;
    margin-left: 2px;
    font-family: "Axon Ultra Light";
    font-size: 25px;
    margin-top: 236px;
    line-height: 29px;
    width: 212px;
    height: 0px;
}
#payload2{
    float: left;
    clear: right;
    margin-left: 195px;
    font-family: "Axon Ultra Light";
    font-size: 25px;
    margin-top: 0px;
    line-height: 29px;
    width: 212px;
    height: 0px;
    text-align: right;
}
#payload3{
    float: left;
    clear: right;
    margin-left: 2px;
    font-family: "Axon Ultra Light";
    font-size: 25px;
    margin-top: 62px;
    line-height: 29px;
    width: 212px;
    height: 0px;
}
#payload4{
    float: left;
    clear: right;
    margin-left: 195px;
    font-family: "Axon Ultra Light";
    font-size: 25px;
    margin-top: 0px;
    line-height: 29px;
    width: 212px;
    height: 0px;
    text-align: right;
}
#line3{
    width: 415px;
    height: 5px;
    z-index: 3;
    position: relative;
    top: 576px;
    left: 500px;
    border-top: 2px dashed #1E5F90;
}

#mainbody2 {
    float: left;
    clear: right;
    width: 503px;
    height: 530px;
    border-top: 4px solid #1E5F90;
    border-right: 4px solid #1E5F90;
    border-bottom: 4px solid #1E5F90;
    position: absolute;
    top: 1690px;
    color: #FAFAFA;
    font-family: "Axon Regular";
    padding: 10px;
    font-size: 24px;
    letter-spacing: 1pt;
}
#firststage {
    position: absolute;
    width: 503px;
    height: 61px;
    font-family: "Helios Regular";
    font-size: 60px;
    color: #FAFAFA;
    top: 1630px;
    left: 0px;
    background-color: #1E5F90;
    text-align: center;
    padding-top: 0px;
    line-height: 69px;
}
